.form--2 {
    height: 35%;
    border: 5px solid yellow;
    border-radius: 20%;
    margin-top: 1em;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
    display: flex;
    padding: 45px
}

.inputcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}


.btn8 {
    justify-content: center;
    align-items: center;
    margin: 2em;

}
