
.logo {
    width: 217px;
    height: 75px;
    padding-left: 131px;
    padding-top: 44px;

}
.gradient {
    position: absolute;
    right: 0;

}
.wet_f {
    position: absolute;
    right: 0;
    padding-top: 60px;
    padding-right: 82px;
}

