.rectangle3 {
    margin-top: 69px;
    margin-left: 0;;
    width: 100%;
    height: 675px;
    background: #6882EF 0 0 no-repeat padding-box;
}

.description3 {
    position: relative;
    display: flex;
    margin-top: -90px;
    padding-bottom: 50px;

}
.desc5 {
    margin-left: 1200px;
    width: 168px;
    height: 142px;
    text-align: left;

    line-height: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 14px;
    font-family: Raleway, serif;
    letter-spacing: 0;
    color: #593D3D;
}

.logo1 {
    margin-top: 90px;
    margin-left: 131px;
    width: 162px;
    height: 57px;
}

.result-calendar {
    width: 431px;
    height: 301px;
}

.book_now {
    position: absolute;
    margin-top: 20px;
    margin-left: 67px;
    width: 231px;
    height: 57px;
    text-align: left;
    font: normal normal bold 49px/57px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
}

.choice {
    margin-top: 122px;
    margin-left: 139px;
    width: 304px;
    height: 57px;
    border: 3px solid #F9D859;
    background-color: transparent;
    color: #F9D859;
    line-height: 21px;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;
    font-size: 28px;
    font-family: Raleway, serif;
    /*overflow: hidden;*/
    text-align: center;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.choice:after {
    content: '▼';
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    color: #F9D859;
}

.box {

}

.c_a_d {
    position: absolute;
    margin-top: 25px;
    margin-left: 70px;
    width: 158px;
    height: 16px;
    text-align: left;
    line-height: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size:  14px;
    font-family: Raleway, serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

.rectangle4 {
    margin-top: 75px;
    margin-left: 139px;
    width: 492px;
    height: 351px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 16px;
}

.choose_time {
    position: absolute;
    margin-top: 53px;
    margin-left: 346px;
    width: 225px;
    height: 16px;
    text-align: left;

    line-height: 21px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 14px;
    font-family: Raleway, serif;

    letter-spacing: 0;
    color: #ffffff;
}

.rectangle5 {
    margin-top: -467px;
    margin-left: 697px;
    width: 536px;
    height: 468px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 16px;
}
/*=====================================MEDIA============================*/
@media screen and (max-width:1288px) {
    .desc5 {
        margin-left: 1000px;
    }
}

@media screen and (max-width:1234px) {
    .book_now {
        position: absolute;
        margin-top: 20px;
        margin-left: 33px;
    }

    .choice {
        margin-top: 122px;
        margin-left: 65px;
    }

    .c_a_d {
        margin-top: 25px;
        margin-left: 33px;
    }
    .rectangle4 {
        margin-top: 75px;
        margin-left: 65px;
    }
    .choose_time {
        margin-top: 53px;
        margin-left: 310px;
    }
    .rectangle5 {
        margin-top: -467px;
        margin-left: 610px;
    }

}
@media screen and (max-width:1147px) {
    .book_now {
        position: absolute;
        margin-top: 20px;
        margin-left: 13px;
    }

    .choice {
        margin-top: 122px;
        margin-left: 26px;
    }

    .c_a_d {
        margin-top: 25px;
        margin-left: 13px;
    }
    .rectangle4 {
        margin-top: 75px;
        margin-left: 26px;
    }
    .choose_time {
        margin-top: 53px;
        margin-left: 280px;
    }
    .rectangle5 {
        margin-top: -467px;
        margin-left: 560px;
    }
}
@media screen and (max-width:1097px) {
    .logo1 {
        margin-top: 90px;
        margin-left: 50px;
    }
    .desc5 {
        margin-left: 900px;
    }
    .book_now {
        position: absolute;
        margin-top: 20px;
        margin-left: 230px;
    }


    .choice {
        margin-top: 122px;
        margin-left: 410px;
    }

    .c_a_d {
        margin-top: 25px;
        margin-left: 155px;
    }
    .rectangle4 {
        margin-top: 75px;
        margin-left: 305px;
    }
    .choose_time {
        margin-top: 340px;
        margin-left: 155px;
    }
    .rectangle5 {
        margin-top: 100px;
        margin-left: 280px;
    }
    .rectangle3 {
        margin-top: 69px;
        margin-left: 0;
        width: 100%;
        height: 1200px;
        background: #6882EF 0 0 no-repeat padding-box;
    }
}
@media screen and (max-width:1026px) {
    .logo1 {
        margin-top: 90px;
        margin-left: 50px;
    }
    .desc5 {
        margin-left: 800px;
    }
}

@media screen and (max-width:939px) {
    .logo1 {
        margin-top: 90px;
        margin-left: 50px;
    }
    .desc5 {
        margin-left: 740px;
    }
    .book_now {
        position: absolute;
        margin-top: 20px;
        margin-left: 190px;
    }


    .choice {
        margin-top: 122px;
        margin-left: 335px;
    }

    .c_a_d {
        margin-top: 25px;
        margin-left: 120px;
    }
    .rectangle4 {
        margin-top: 75px;
        margin-left: 230px;
    }
    .choose_time {
        margin-top: 340px;
        margin-left: 120px;
    }
    .rectangle5 {
        margin-top: 100px;
        margin-left: 205px;
    }
}

@media screen and (max-width:848px) {
    .logo1 {
        margin-top: 90px;
        margin-left: 50px;
    }
    .desc5 {
        margin-left: 640px;
        
    }
}

@media screen and (max-width:768px) {
    .logo1 {
        margin-top: 90px;
        margin-left: 50px;
    }
    .desc5 {
        margin-left: 580px;
    }
    .book_now {
        position: absolute;
        margin-top: 20px;
        margin-left: 150px;
    }


    .choice {
        margin-top: 122px;
        margin-left: 250px;
    }

    .c_a_d {
        margin-top: 25px;
        margin-left: 80px;
    }
    .rectangle4 {
        margin-top: 75px;
        margin-left: 145px;
    }
    .choose_time {
        margin-top: 340px;
        margin-left: 75px;
    }
    .rectangle5 {
        margin-top: 100px;
        margin-left: 125px;
    }
}

